<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxScrollingDialog" name="wxsImageComboEditorDlg">
		<title>wxBitmapComboBox Editor</title>
		<size>414,350</size>
		<font>
			<size>8</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Arial</face>
		</font>
		<minsize>-1,-1</minsize>
		<maxsize>-1,-1</maxsize>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxDEFAULT_DIALOG_STYLE</style>
		<object class="wxButton" name="ID_BUTTON1" variable="bOK" member="yes">
			<label>OK</label>
			<default>1</default>
			<pos>64,320</pos>
			<handler function="OnbOKClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="bCancel" member="yes">
			<label>Cancel</label>
			<pos>272,320</pos>
			<handler function="OnbCancelClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="Tree1" member="yes">
			<pos>0,32</pos>
			<size>240,272</size>
			<style>wxTR_EDIT_LABELS|wxTR_NO_BUTTONS|wxTR_NO_LINES|wxTR_HIDE_ROOT|wxRAISED_BORDER</style>
			<handler function="OnTree1SelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Combo-Box</label>
			<pos>8,8</pos>
			<size>224,14</size>
			<style>wxST_NO_AUTORESIZE|wxALIGN_CENTRE</style>
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="bAddItem" member="yes">
			<bitmap stock_id="wxART_ADD_BOOKMARK" />
			<default>1</default>
			<pos>256,32</pos>
			<handler function="OnbAddItemClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" variable="bMoveUp" member="yes">
			<bitmap stock_id="wxART_GO_UP" />
			<default>1</default>
			<pos>256,64</pos>
			<handler function="OnbMoveUpClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="bMoveDown" member="yes">
			<bitmap stock_id="wxART_GO_DOWN" />
			<default>1</default>
			<pos>256,96</pos>
			<handler function="OnbMoveDownClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="bDeleteItem" member="yes">
			<bitmap stock_id="wxART_DEL_BOOKMARK" />
			<pos>256,128</pos>
			<handler function="OnbDeleteItemClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" variable="bDeleteAll" member="yes">
			<bitmap stock_id="wxART_DELETE" />
			<pos>256,160</pos>
			<handler function="OnbDeleteAllClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Edit Items</label>
			<pos>264,8</pos>
			<size>136,14</size>
			<style>wxST_NO_AUTORESIZE|wxALIGN_CENTRE</style>
		</object>
		<object class="wxBitmapButton" name="ID_BITMAPBUTTON6" variable="bEditItem" member="yes">
			<bitmap stock_id="wxART_HELP_SETTINGS" />
			<default>1</default>
			<pos>256,200</pos>
			<handler function="OnbEditItemClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Add Item</label>
			<pos>288,36</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>Move Item Up</label>
			<pos>288,68</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>Move Item Down</label>
			<pos>288,100</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>Delete Item</label>
			<pos>288,132</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>Delete All Items</label>
			<pos>288,164</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
			<label>Edit Item Text</label>
			<pos>288,204</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
			<label>Image-List</label>
			<pos>256,240</pos>
			<size>144,14</size>
			<style>wxST_NO_AUTORESIZE</style>
		</object>
		<object class="wxComboBox" name="ID_COMBOBOX1" subclass="wxBitmapComboBox" variable="cbImage" member="yes">
			<pos>256,272</pos>
			<size>88,22</size>
			<style>wxCB_READONLY</style>
			<handler function="OncbImageSelect" entry="EVT_COMBOBOX" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
			<label>Item Image</label>
			<pos>352,276</pos>
		</object>
	</object>
</wxsmith>
